<launch>
	<node name="lidar_scan" pkg="xv_11_laser_driver" type="neato_laser_publisher" args="_port:=/dev/serial0" output="screen">
		<param name="frame_id" value="lidar_link"/>
		<remap from="scan" to="/starbaby/laser/scan"/>
	</node>
	<node name="lidar_motor" pkg="xv_11_laser_motor_control" type="motor_control.py" output="screen" />
	<node name="lidar_nearest_point" pkg="xv_11_laser_motor_control" type="nearest_point.py" output="screen">
		<remap from="scan" to="/starbaby/laser/scan"/>
        </node>
</launch>
